@type import('tailwindcss').Config;
@tailwind base;
@tailwind components;
@tailwind utilities;



body{
  background-color: white;
}

p{

  background-color: lightgray;
  border-width: thick;
  border-color: black;
  height: 80px;
  width: 800px;
}

